.churchOption {
  padding: 10px;
  transition: background-color .25s;
}

.churchOption:hover {
  background-color: #add8e673;
  cursor: pointer;
}

.selectedRecording {
  background-color: #aee8ae;;
  border-radius: 3px;
  padding: 3px;
}

.worshipTabs {
  font-size: 80%;
}

.membersTable > tbody > tr >td {
  font-size: 80%;
  vertical-align: middle;
}
